###
# pre install:
#   pip install cython
# install:
#   pip -r requirements.txt
# post install:
#   conda install faiss-cpu -c pytorch
###
cysignals>=1.7.2
pandas>=0.23.2
numpy>=1.14.5
scipy>=1.1.0
scikit-learn>=0.19.1
torch>=0.4.1
torchnet>=0.0.1
pyfasttext>=0.4.5
spacy>=2.0.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#egg=en-core-web-sm